@font-face {
    font-family: 'PalanquinBold';
    src: url('https://fdelivery.xyz/joki-mobile-legends/fonts/Palanquin-Bold.ttf');
}

@font-face {
    font-family: 'PalanquinRegular';
    src: url('https://fdelivery.xyz/joki-mobile-legends/fonts/Palanquin-Regular.ttf');
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'PalanquinRegular', Arial;
}

button {
    border: 0;
    cursor: pointer;
    flex-shrink: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
    flex-shrink: 0;
}

input {
    flex-shrink: 0;
}

button::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: 0;
}

*:active {
    outline: 0;
}

.input1 {
    height: 30px;
    background-color: #dddddd;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #444444;
    border-radius: 5px;
}

.input1::placeholder {
    color: #444444;
    font-family: PalanquinRegular;
}

.link {
    text-decoration: none!important;
    color: #6d7ae0;
    font-size: 15px;
    font-family: PalanquinRegular;
    cursor: pointer;
}

.link:active {
    color: #5a5db4;
}

.link:focus {
    color: #5a5db4;
}

.link2 {
    text-decoration: none!important;
    color: #f1c40f;
    font-size: 15px;
    font-family: PalanquinRegular;
    cursor: pointer;
}

.link2:active {
    color: #f39c12;
}

.link2:focus {
    color: #f39c12;
}

.input2, textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    background-color: #eeeeee;
    height: 24px;
}

.input2:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    background-color: #eeeeee;
    height: 25px;
}

.input3 {
    background-image: linear-gradient(#ffffff, #dddddd);
}

.input3:hover {
    background-image: linear-gradient(#eeeeee, #ffffff);
}

.input4 {
    width: calc(100% - 22px);
    height: 30px;
    background-color: white;
    border: 1px solid #888888;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.input4:focus {
    border: 1px solid #3498db;
}

.email {
    background-color: #ffffff;
    color: black;
    height: 25px;
    width: calc(100% - 30px);
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.email:hover {
    color: white;
    background-image: linear-gradient(#5f27cd, #341f97);
}

.select1 {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    border: 0;
    flex-shrink: 0;
}

.select1:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}

.food {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% - 36px);
    color: white;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.food:hover {
    background-image: linear-gradient(#341f97, #5f27cd);
}

.change-food {
    height: 30px;
    background-image: linear-gradient(#ffffff, #dddddd);
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.change-food:hover {
    background-image: linear-gradient(#eeeeee, #ffffff);
}

.change-food:focus {
    background-image: linear-gradient(#aaaaaa, #ffffff);
}

.menu-item {
    color: #eeeeee;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s;
}

.menu-item:active {
    background-color: #2a2c43;
}

.menu-item-active {
    color: #eeeeee;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color .3s;
    background-color: #2a2c43;
}

.flat-table {
    width: 600px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.flat-table thead tr {
    background-color: #2f2e4d;
    color: white;
    height: 40px;
    text-align: center;
}

.flat-table tbody tr {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    text-align: center;
}

.flat-table td {
    height: 40px;
}

.rules {
    transition: height .5s;
}

.rules-text {
    color: #3188c2;
}

.rules-text:hover {
    color: #369ad9;
}

.text1 {
    cursor: pointer;
    color: #197eb1;
}

.text1:hover {
    text-decoration: underline;
}

.button1 {
    background-color: #f98700;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color .5s;
    margin-top: 5px;
}

.button1:hover {
    background-color: #ffac4b;
}